/*Initial css style*/
body{
    font-family:sans-serif;
    font-size:12px;
    height:100%;
    margin:0;
}
/*Clases in the form [name--lastname] are for especific styles wich every html element can have*/
.flex--row{
    display:flex;
    flex-flow:row;
}
.space--between{
    justify-content: space-between;
}

/* Divide the startup screen in 2 */
.half--screen{
    height:100vh;
    width:50vw;
}

/* Button to enter to watch the entire human body */
.enterHumanBody{
    position: absolute;
    top: 50%;
    left: 20%;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.5;
    transition-duration: 0.4s;
    cursor: pointer;
}

.enterHumanBody:hover{
    background-color: #e7e7e7;
    color: black;
}

/* Button to enter to watch organs from the human body */
.enterOrgans{
    position: absolute;
    top: 50%;
    left: 75%;
    height: 20px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.5;
    transition-duration: 0.4s;
    cursor: pointer;
}

.enterOrgans:hover{
    background-color: #e7e7e7;
    color: black;
}

/* Home button to go back when you already entered in of the 2 sections created */
.home_refresh{
    position: absolute;
    display: none;
    top: 95%;
    left: 3%;
    z-index: 1;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: blue;
}

/*S> Organs*/
.heart{
    position: absolute;
    display: none;
    top: 10%;
    left: 7%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.heart:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brain{
    position: absolute;
    display: none;
    top: 10%;
    left: 30%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.brain:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eye{
    position: absolute;
    display: none;
    top: 10%;
    left: 53%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.eye:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ear{
    position: absolute;
    display: none;
    top: 10%;
    left: 76%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.ear:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooth{
    position: absolute;
    display: none;
    top: 58%;
    left: 7%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.tooth:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alveoli{
    position: absolute;
    display: none;
    top: 58%;
    left: 30%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.alveoli:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nose{
    position: absolute;
    display: none;
    top: 58%;
    left: 53%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.nose:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dryskin{
    position: absolute;
    display: none;
    top: 58%;
    left: 76%;
    height: 200px;
    width: 210px;
    border: 1px solid black;
}

.dryskin:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*E> Organs */

/* Display and position section */
.hide{
    display:none;
}

.absolute--left{
    position:absolute;
    top:0;
    left:0;
}

.absolute--middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}

.mid--size{
    width:70vw;
    height:70vh;
    z-index:2;
}

.big--size{
    width:100vw;
    height:100vh;
    z-index:2;
}


/*----------------------------------------------------------------header----------------------------------------------------------------------*/

.transparent-background{
    position: absolute;
    z-index:1;
    width:100vw;
    height:100vh;
    background-color: aliceblue;
    opacity:0.5;
}

.button-close{
    z-index:2;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    color:rgb(83, 91, 102);
    width:3vw;
    height: 3vw;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border-color:white;
    border-style: solid;
    position: absolute;
    top:3%;
    right:2%;
}

.button-close:hover{
    background-color: white;
    cursor: pointer;
}

.button-close:focus{
    outline: none;
}

.header{
    background-color: rgb(248, 245, 255);
}
.nav{
    padding:30px 10px 0 10px;
}
.nav-tabs{
    cursor:pointer;
    list-style:none;
    padding-inline-start: unset;
    padding:10px 20px 15px 20px;
    margin:0;
    box-sizing: border-box;
    width:100%;
    transition:width 0.5s, height 0.5s;
    transition-timing-function: linear;
}
.return-parent{
    font-size:24px;
    cursor:pointer;
}
.return-parent,.nav-tab, .nav__left-tab, .nav__right-tab{
    color: rgb(60, 160, 250);
}
.nav-tab, .nav__left-tab, .nav__right-tab{
    font-weight:bold;
    text-align: center;
    width:25%;
    padding:5px 0;
    border-top-style:solid;
    border-bottom-style: solid;
    border-right-style:solid;
    border-color:  rgb(0, 120, 255);
    border-width: 1.4px;
}
.nav__left-tab{
    border-left-style:solid;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}
.nav__right-tab{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.return-parent:hover,.nav-tab:hover, .nav__left-tab:hover, .nav__right-tab:hover{
    color: rgb(115, 190, 255);
}
.background--blue{
    background-color:rgb(60, 160, 250);
    color:white;
}
ul .background--blue:hover{
    background-color:rgb(115, 190, 255);
    color:white;
}
.third--width{
    width:33.33%;
}
.minimize{
    width:0;
    height:0;
    overflow: hidden;
}

/*---------------------------------------------Media query--------------------------------------------------------*/
@media screen and (max-width:600px){
    #screen-content{
        flex-flow:column;
    }
    #screen-content .half--screen{
        height:50vh;
        width:100vw;
    }
    
}

@media screen and (max-width:500px){
    .mid--size{
        width:90vw;
    }
    
}

@media screen and (max-width:380px){
    .mid--size{
        width:100vw;
    }
}